@tailwind base;
@tailwind components;
@tailwind utilities;


.open #hamburger-top{
    transform: rotate(45deg) translateX(6px) translateY(6px);
}

.open #hamburger-middle{
    display: none;
}

.open #hamburger-bottom{
    transform: rotate(-45deg) translateX(-6px) translateY(6px);
}

.hide{
    transform: translateX(100%);
}